<body>
	<div class="banner">
		<div class="container-fluid">
			<nav class="pull-right">
				<a href="/archive">归档</a>
				<a href="/about" target="_blank">关于</a>
			</nav>
			<a href="/entry" class="logo">
				<i class="iconfont icon-z4 logo-z"></i>
				<span class="logo-hang">hang</span>
				<span class="logo-xiong">Xiong</span>
			</a>
		</div>
	</div>