<%include head.ejs %>
<%include header.ejs %>
<%include left.ejs %>
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side main">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            分类编辑
            <small>分类</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> 管理中心</a></li>
            <li class="/admin/cats"><a href="/admin/cats">分类</a></li>
            <li class="active">分类编辑</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form action="/admin/cats/update" method="post">
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                            <a href="/admin/cats" class="btn btn-default pull-right">分类列表</a>
                        </div><!-- /.box-header -->

                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputTitle">分类标题</label>
                                <input type="text" placeholder="标题" id="inputTitle" value="<%= data.title %>" class="form-control" name="title">
                            </div>
                            <input type="hidden" value="<%= data._id %>" name="id" >

                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <button class="btn btn-primary" type="submit">更新</button>
                        </div><!-- /.box-footer -->
                    </form>

                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->

    <%include footer.ejs %>