<body class="admin-bg">
	<header class="navbar navbar-default navbar-static-top header">
		<div class="navbar-header">
			<a href="" class="navbar-brand logo">
				<i class="iconfont icon-z4 logo-z"></i>
				<span class="logo-hang">poetries</span>
			</a>
		</div>
		<div class="navbar-right navbar-nav nav nav-user">
			<a href="" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-user"></span>
				<i class="info">登录信息</i>
				<span class="caret"></span>
			</a>
			<div class="dropdown-menu">
				<div class="user-info">
					<img src="images/tx.jpg" alt="" class="img-circle">
					<p>poetries<br><small>注册时间 2016年12月1日</small></p>
				</div>
				<div class="user-link">
					<div class="pull-left">
						<a class="btn btn-default">用户信息</a>
					</div>
					<div class="pull-right">
						<a href="/user/logout" class="btn btn-default">注销登录</a>
					</div>
				</div>
			</div>
		</div>
	</header>