<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>张雄的个人网站</title>
	<meta name="viewport" content="device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/font-z/iconfont.css">
	<link rel="stylesheet" href="/css/admin.css">
</head>