html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: normal;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 15px/1.14 "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
* {
  box-sizing: border-box;
}
.signin {
  background: url(../images/s16.jpg) no-repeat center center fixed;
  background-size: cover;
}
.signin .signinpanel {
  width: 750px;
  margin: 10% auto 0;
}
.signin .signinpanel form {
  border: 1px solid #ffe4c4;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 30px;
  color: #fff;
}
.signin .signinpanel form a {
  color: #fff;
}
.signin .signinpanel form h2 {
  font-size: 24px;
  line-height: 36px;
  margin: 10px 0;
}
.signin .signinpanel form .form-group {
  position: relative;
}
.signin .signinpanel form .glyphicon {
  position: absolute;
  right: 8px;
  top: 9px;
}
.signin .signinpanel form .forgot {
  margin-bottom: 10px;
}
.signin .signinpanel .footer {
  margin-top: 20px;
  border-top: 1px solid #ffe4c4;
  padding-top: 15px;
  color: #ffe4c4;
}
.admin-bg .header {
  border: 0 none;
  background-color: #415877;
}
.admin-bg .header .navbar-header .logo {
  margin-left: 10px;
  line-height: 32px;
  font-weight: bold;
  font-size: 24px;
  color: #b6c0ce;
  font-family: Georgia, '宋体', serif;
}
.admin-bg .header .navbar-header .logo .logo-z {
  font-size: 24px;
  color: #5aba59;
}
.admin-bg .header .navbar-header .logo .logo-hang {
  transition: color .3s;
}
.admin-bg .header .navbar-header .logo .logo-hang:hover {
  color: #fff;
}
.admin-bg .header .navbar-header .logo .logo-xiong {
  color: #fff;
}
.admin-bg .header .nav-user {
  height: 50px;
  margin-right: 15px;
  padding: 15px;
}
.admin-bg .header .nav-user .dropdown-toggle {
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
.admin-bg .header .nav-user .dropdown-toggle .info {
  font-size: 24px;
  font-family: Georgia, '宋体', serif;
}
.admin-bg .header .nav-user .dropdown-menu {
  margin: 0;
  padding: 0 0 10px 0;
  width: 280px;
}
.admin-bg .header .nav-user .dropdown-menu .user-info {
  background-color: #415877;
  text-align: center;
  padding: 20px;
}
.admin-bg .header .nav-user .dropdown-menu .user-info img {
  width: 90px;
  height: 90px;
}
.admin-bg .header .nav-user .dropdown-menu .user-info p {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}
.admin-bg .header .nav-user .dropdown-menu .user-link {
  height: 35px;
  margin: 10px 10px 0;
  padding-bottom: 30px;
}
.admin-bg .header .nav-user:hover {
  background-color: #4d85d1;
}
.menu {
  width: 220px;
  background: #eee;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
}
.menu .user-status div {
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu .user-status div img {
  width: 45px;
  height: 45px;
}
.menu .user-status div p {
  line-height: 24px;
}
.menu .list-group-item {
  border: none;
  background: #eee;
}
.menu .list-group-item a {
  text-decoration: none;
}
.menu .list-group-item .list-group {
  margin-bottom: 0;
}
.main {
  margin-left: 220px;
}
