<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>张雄的简历</title>
    <meta name="description" content="我是一个充满热情、善于解决问题的前端工程师。">
    <meta name="keywords" content="张雄,前端,工作,简历">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="title">
                <img src="/images/head.jpg">
                <h1>张 雄</h1>
                <p>"最好的时间是十年前，</p>
                <p>其次是现在。"</p>
            </div>
            <ul class="side-info">
                <li>
                    <h2>应聘岗位</h2>
                    <div class="cont">前端工程师</div>
                </li>
                <li class="skill">
                    <h2>技能点</h2>
                    <div class="cont">
                        <span class="skill-name">HTML</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 80%"></div>
                        </div>
                    </div>
                    <div class="cont">
                        <span class="skill-name">CSS</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="cont">
                        <span class="skill-name">JavaScript</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="cont">
                        <span class="skill-name">jQuery</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="cont">
                        <span class="skill-name">Bootstrap</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class="cont">
                        <span class="skill-name">Less</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class="cont">
                        <span class="skill-name">Node.js</span>
                        <div class="skill-bar-wrap">
                            <div class="skill-bar" style="width: 30%"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="note">
                <p>我是一个充满热情、善于解决问题的前端工程师。希望能找到能让我发挥这些特长的工作！</p>
            </div>
        </div>
        <div class="main">
        	<div class="main-info">
        		<h2>基本信息</h2>
        		<p>姓名：张雄</p>
        		<p>电话：18231990058</p>
        		<p>邮箱：<a href="mailto:zhangxiongcn@126.com">zhangxiongcn@126.com</a></p>
        		<p>博客：<a href="http://www.cnblogs.com/zhangxiongcn/" target="_blank">http://www.cnblogs.com/zhangxiongcn/</a></p>
        		<p>GitHub：<a href="https://github.com/zhangxiongcn" target="_blank">https://github.com/zhangxiongcn</a></p>
        		<p>毕业院校：河北大学</p>
        	</div>
        	<div class="main-exp">
        		<h2>项目经验</h2>
				<ul>
					<li class="item">
						<h3>Node.js搭建个人博客系统</h3>
						<p>技术栈Node.js+express+MongoDB</p>
					</li>
					<li class="item">
						<h3>网易前端微专业实践课程</h3>
						<p>单页面Ajax</p>
					</li>
					<li class="item">
						<h3>xQuery</h3>
						<p>个人工具库，采用jQuery语法</p>
					</li>
					<li class="item">
						<h3>组件</h3>
						<p>轮播、tab选项卡组件，面向对象</p>
					</li>
					<li class="item">
						<h3>todoList</h3>
						<p>不同框架实现的todoList，React、jQuery、AngularJS</p>
					</li>
					<li class="item">
						<h3>learnnote</h3>
						<p>前端学习笔记整理，思维导图</p>
					</li>
				</ul>
				<h2>工作经验</h2>
				<ul>
					<li class="item">
						<h3>北京中智力拓投资有限公司</h3>
						<p>
							<span>2012.8 至 2015.7</span>
							信息化
						</p>
					</li>
					<li class="item">
						<h3>北京中智力拓投资有限公司</h3>
						<p>
							<span>2015.8 至 2016.3</span>
							电商平台创业团队
						</p>
					</li>
					<li class="item">
						<h3>至臻数码工作室</h3>
						<p>
							<span>2016.4 至 2017.2</span>
							脱产学习
						</p>
					</li>
				</ul>
        	</div>
    	</div>
    </div>
</body>
</html>
