<%include partial/head.ejs %>
<body class="indexbg">
	<div class="home">
		<div class="home-bg"></div>
		<div class="home-box">
			<h2>poetries的网站</h2>
			<h3>ZhangXiong's Personal Website</h3>
			<p>
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				<a href="/entry">博客</a>
				/
				<a href="https://github.com/poetries" target="_blank">关于</a>
			</p>
			<p>
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				<a href="http://github.com/zhangxiongcn" class="link-leave" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
				/
				<a href="mailto:me@poetries.top" class="link-leave" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
			</p>
		</div>
	</div>
<%include partial/foot.ejs %>